@mixin flex-center($dir: row) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
}

@mixin flex-between($dir: row) {
  display: flex;
  flex-direction: $dir;
  justify-content: space-between;
}

@mixin respond-to-1000 {
  @media (max-width: 1000px) {
    @content;
  }
}