@use "./reset";

body {
  margin: 0;
  height: 100dvh;
  overflow: hidden;
  padding: 8px;
  background: $color-primary;
  color: #000000;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
}

#__nuxt {
  height: 100%;
}